@import url("style_mq.css");

/* ------------- imported fonts -----------------  */
/* 
Google Fonts:
font-family: 'Libre Baskerville', serif;
font-family: 'Didact Gothic', sans-serif;
*/


/*------------------- whole page  ----------------*/
.content {
    width: 100%;
    margin: 0 auto;

}

/* ------------------ headings & fonts ------------------- */

h1 {
    font-family: 'Didact Gothic', sans-serif;
    color: #272343;
}

h2 {
    font-family: 'Didact Gothic', sans-serif; 
}

p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: large;
}

button {
    background-color: #f3c623;
    border-radius: 4px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

li {
    font-family: 'Didact Gothic', sans-serif;
}


/* -------------------- navigation bar ---------------- */

.navbar {
    /* position: fixed; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    top: 0;
    width: 100%;    
    background-color: lightgray;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding-left: 50;   
}


.navbar li a:hover {
    background-color: burlywood;
}


/* ----------------- section 1 -----------------  */


.welcome {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    height: auto;
    margin-right: 0%;
    /* justify-items: center; */
    align-items: center;
    grid-gap: 0px 5%;
}

.picture_landing_page img {
    width: 60%;
    height: 60%;
    min-width: 350px;
    justify-self: start;
}

.about_finance {
    min-width: 150px;
    max-width: 350px;
    height: auto;
    justify-self: end;
}



/* ------------------ section 2 -------------- */



.section_benefits {
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 30px;

}

.benefits_container {
    justify-content: center;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-areas:
    "benefits benefits benefits"; */
    justify-items: center;
    grid-gap: 10px 10px;

}

.benefits {
        /* grid-area: benefits;  */
        width: 250px;
        height: 300px;
        min-width: 250px;
        margin-right: 3.33333%;
        padding: 20px;
        background: #f3c623;
        box-sizing: border-box;
        border-radius: 4px;
}


#header-benefits {
    display: inline-block;
    /* text-align: center; */
}




/* ------------------- media queries ---------------------- */

@media (max-width: 800px){
    .benefits_container {
        justify-content: center;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(250px, 250px));
        /* grid-template-rows: 1fr 1fr 1fr; */
        /* grid-template-areas:
        "benefits benefits benefits"; */
        justify-items: center;
        grid-gap: 10px 10px;
    }
    
    .benefits {
        /* grid-area: benefits;  */
        width: 90%;
        height: auto;
        min-width: 250px;
        margin-right: 3.33333%;
        padding: 20px;
        background: #1d3da3;
        box-sizing: border-box;
        border-radius: 4px;
}